[core]
	excludesfile = /Users/jc/.gitignore
	editor = code -w
	autocrlf = false
[user]
	name = juan-calle
	email = juancmcalle@gmail.com
	username = juan-calle
[init]
	defaultBranch = master
[github]
	user = juan-calle
[push]
	default = simple
[credential]
	helper = osxkeychain
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
