[core]
	excludesfile = /Users/juan.calle/.gitignore_global
  editor = code -w
  autocrlf = false
# [user]
# 	name = Juan Calle
# 	email = 8818957+juan-calle@users.noreply.github.com
#   username = juan-calle
# 	signingkey = B8EC03B00F5F50FE
[user]
	name = Juan Calle
	email = juancmcalle@gmail.com
  username = juan-calle
	signingkey = EEA8495EEF7E5C7B
[init]
  defaultBranch = main
[github]
  user = juan-calle
[push]
  default = simple
	autoSetupRemote = true
[credential]
  helper = osxkeychain
[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
[alias]
  co = checkout
  conf = config --global -e
  up = !git pull --ff --prune $@ && git submodule update --init --recursive
  cob = checkout -b
  cm = !git add -A && git commit -m
  save = !git add -A && git commit -m 'chore(save-point): SAVE-POINT'
  wip = !git add -u && git commit -m 'chore(wip): WIP' --no-verify
  undo = reset HEAD~1 --mixed
  amend = commit -a --amend
  wipe = !git add -A && git commit -qm 'chore(wipe-savepoint): WIPE SAVEPOINT' && git reset HEAD~1 --hard
  default = !git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@'
  bdone = "!f() { DEFAULT=$(git default); git checkout ${1-$DEFAULT} && git up && git bclean ${1-$DEFAULT}; }; f"
  bclean = "!f() { DEFAULT=$(git default); git branch --merged ${1-$DEFAULT} | grep -v " ${1-$DEFAULT}$" | xargs git branch -d; }; f"
  cdef = "!git checkout $(git originhead)"
  originhead = "!git remote show origin | grep 'HEAD branch' | cut -d ' ' -f5"
  la = "!git config -l | grep alias | cut -c 7-"
  lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30
  fixsymbolicrefs = !git symbolic-ref refs/remotes/origin/HEAD refs/remotes/origin/main
  forcelease = !git push --force-with-lease
  rename = "!moveit() { git push origin --delete `git branch --show-current` || true; git branch -m $1; git push --set-upstream origin $1; }; moveit"
  remotedelete = "push --delete origin"
  fixup-squash = "!EDITOR=true git rebase --autosquash -i $1 #"
  fixup = "!EDITOR=true git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -I {} sh -c 'git commit --fixup "$1" --no-verify && git rebase -i --autosquash "$1^" #' sh {}"
[gpg]
	program = gpg
  format = openpgp
[commit]
	gpgsign = true
[tag]
	forceSignAnnotated = true
[difftool]
	prompt = true
	trustExitCode = true
[mergetool]
	prompt = true
  trustExitCode = true
[rebase]
	updateRefs = true
